<div class="block-card">
    <div class="block-card-img">
        <img class="img-responsive" src="https://images.unsplash.com/photo-1505816328275-34db3b7cef14?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ba0e71a8307fc17aea75cf4234b0fd1&auto=format&fit=crop&w=1350&q=80" />
    </div>
    <div class="footer-post">
        <mat-icon>label</mat-icon>
        <span>category 1</span>
        <h2>Heading</h2>
        <i class="fa fa-calendar-o event-post" aria-hidden="true"></i>
        <span class="date-post">12 April</span>
        <span class="read-post">&bull; 05 min read</span>
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span class="comments-post">12</span>
        <p class="who-post">by Horosami</p>
    </div>
</div>