<div class="block-card-over">
    <div class="block-card-over-img">
        <img class="img-responsive" src="https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ebe04dfc7c0713079bd12e06d35ddec&auto=format&fit=crop&w=1350&q=80" />
    </div>
    <div class="sub-text">
        <h3>Heading 2</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deleniti nesciunt perferendis non excepturi ipsa enim ratione dolorem modi aliquid at, architecto numquam dolorum exercitationem similique ab dicta commodi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deleniti nesciunt perferendis non excepturi.</p>
        <div class="description-preview">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span>12 April</span>
            <span>&bull; 05 min read</span>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span>12</span>
        </div>
    </div>
</div>