<div class="header-title">
    <h2 class="title">Latest posts</h2>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="small-post">
            <div class="small-post-img">
                <img class="img-responsive" src="https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ebe04dfc7c0713079bd12e06d35ddec&auto=format&fit=crop&w=1350&q=80" />
                <div class="small-post-category">
                    <mat-icon class="category-label">label</mat-icon>
                    <span class="category-name">category 1</span>
                </div>
            </div>
            <br>
            <h2>Heading</h2>
            <hr>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span class="date-post">12 April</span>
            <span class="read-post">&bull; 05 min read</span>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span class="comments-post">12</span>
            <p class="who-post">by Horosami</p>
            <br>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="small-post">
            <div class="small-post-img">
                <img class="img-responsive" src="https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ebe04dfc7c0713079bd12e06d35ddec&auto=format&fit=crop&w=1350&q=80" />
                <div class="small-post-category">
                    <mat-icon class="category-label">label</mat-icon>
                    <span class="category-name">category 1</span>
                </div>
            </div>
            <br>
            <h2>Heading</h2>
            <hr>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span class="date-post">12 April</span>
            <span class="read-post">&bull; 05 min read</span>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span class="comments-post">12</span>
            <p class="who-post">by Horosami</p>
            <br>
        </div>
    </div>
</div>