<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <img class="img-responsive" src="https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2ebe04dfc7c0713079bd12e06d35ddec&auto=format&fit=crop&w=1350&q=80" />
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h2>Heading</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deleniti nesciunt perferendis non excepturi ipsa enim ratione dolorem modi aliquid at, architecto numquam dolorum exercitationem similique ab dicta commodi quod.</p>
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
    <span class="date-post">12 April</span>
    <span class="read-post">&bull; 05 min read</span>
    <i class="fa fa-comments" aria-hidden="true"></i>
    <span class="comments-post">12</span>
    <p class="who-post">by Horosami</p>
    <br>
</div>