<div class="header-title">
    <h2 class="title">Programming</h2>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-post-img-text></app-post-img-text>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-post-img-text></app-post-img-text>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-post-img-text></app-post-img-text>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-post-img-text></app-post-img-text>
    </div>
</div>