<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 btm-offset-two">
            <div>
                <div class="block-card">
                    <div class="block-card-img">
                        <img class="img-responsive" src="https://images.unsplash.com/photo-1485466799797-74ecb5ef351b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=34e27fa26da42e1619080ce26364b1fa&auto=format&fit=crop&w=1350&q=80" />
                    </div>
                    <div class="footer-post">
                        <mat-icon>label</mat-icon>
                        <span>category 1</span>
                        <h2>Heading</h2>
                        <mat-icon class="event-post">event</mat-icon>
                        <span class="date-post">12 April</span>
                        <span class="read-post">&bull; 05 min read</span>
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span class="comments-post">12</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btm-offset-one">
                    <div class="block-card">
                        <div class="block-card-img">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1485466799797-74ecb5ef351b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=34e27fa26da42e1619080ce26364b1fa&auto=format&fit=crop&w=1350&q=80" />
                        </div>
                        <div class="footer-post">
                            <mat-icon>label</mat-icon>
                            <span>category 1</span>
                            <h2>Heading</h2>
                            <mat-icon class="event-post">event</mat-icon>
                            <span class="date-post">12 April</span>
                            <span class="read-post">&bull; 05 min read</span>
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span class="comments-post">12</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="block-card">
                        <div class="block-card-img">
                            <img class="img-responsive" src="https://images.unsplash.com/photo-1485466799797-74ecb5ef351b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=34e27fa26da42e1619080ce26364b1fa&auto=format&fit=crop&w=1350&q=80" />
                        </div>
                        <div class="footer-post">
                            <mat-icon>label</mat-icon>
                            <span>category 1</span>
                            <h2>Heading</h2>
                            <mat-icon class="event-post">event</mat-icon>
                            <span class="date-post">12 April</span>
                            <span class="read-post">&bull; 05 min read</span>
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span class="comments-post">12</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="header-title">
                <h2 class="title">Programming</h2>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <router-outlet></router-outlet>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div> -->
