.description {
    border: 1px solid #ccc;
    margin: 25px 0;
    padding: 15px;
    margin-top: 7px;
    background: url(http://1.bp.blogspot.com/-gvBDWFzrKms/U0uTJu1FpCI/AAAAAAAAAUA/JbNUwz4Ahgo/s1600/postbg.png) repeat #fff;
    position: relative;
}

.description:before,
.description:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 5px;
    right: 0;
    border: inherit;
    padding: 2px;
    background: inherit;
    width: calc(100% - 10px);
}

.description:after {
    bottom: -11px;
    left: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 2px #ccc;
}

.description p {
    color: #989898;
    font-style: italic;
    padding-top: 10px;
}

.description-title {
    font-family: inherit;
    font-weight: 600;
}

.description h6 {
    font-family: inherit;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    color: #989898;
}

.input-group-addon {
    background-color: white;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    border: 0;
}

.sidebar-form .form-control {
    width: 100%;
    padding: 25px 5px;
    box-shadow: none;
}

.sidebar-form .form-control:focus,
.sidebar-form .form-control:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.sidebar-form .input-group {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar-form .join,
.sidebar-form .join:focus,
.sidebar-form .join:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-right: 25px;
    padding-left: 25px;
}

.btn-join {
    background: #ebebeb;
    border: 1px solid #ddd;
    outline: none;
    transition: all .4s linear;
    margin: 0px;
    border-radius: 4px;
    padding: 10px 14px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
    font-weight: bold;
    color: #575757;
}

.btn-join:hover {
    background: #d3d1d1;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .4) !important;
}



/*новая шапка*/
.btm-offset-one {
    margin-bottom: 19px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btm-offset-two {
        margin-bottom: 19px;
    }
}

/*для заголовков*/
h2.title {
    color: #fff;
    border: 1px solid #673ab7;
    background: #673ab7;
    padding: 4px 10px;
    display: inline-block;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
    font: normal normal 700 25px 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.header-title {
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
}
.header-title:before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #673ab7;
    position: absolute;
    top: 34px;
    z-index: 1;
    border-radius: 5px;
}

/*programming*/
hr {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 0;
    width: 20%;
    border-top: 1px solid #673ab7;
}

/*latest posts*/
.small-post-category {
    display: table;
    height: 15px;
    color: white;
    margin: -40px 0 0 10px;
}

.category-label,
.category-name {
    line-height: 15px;
    height: 15px;
    display: table-cell;
    vertical-align: middle;
}

.category-name {
    padding-left: 10px;
}

/*заголовки цвета*/
.header-title-web:before {
    background: rgb(29, 179, 42);
}
h2.title-web {
    background: rgb(29, 179, 42);
    border-color: rgb(29, 179, 42);
}
.website-posts hr {
    border-top: 1px solid rgb(29, 179, 42);
}


.header-title-game:before  {
    background: rgb(20, 33, 151);
}

h2.title-game {
    background: rgb(20, 33, 151);
    border-color: rgb(20, 33, 151);
}


.header-title-career-it:before {
    background: rgb(217,51,234);
}

h2.title-career-it {
    background: rgb(217,51,234);
    border-color: rgb(217,51,234);
}

.career-it-posts hr {
    border-top: 1px solid rgb(217,51,234);
}


.header-title-interfaces:before {
    background: rgb(53,23,106);
}

h2.title-interfaces {
    background: rgb(53,23,106);
    border-color: rgb(53,23,106);
}

.interfaces-posts hr {
    border-top: 1px solid rgb(53,23,106);
}


/*more popular*/
h3.more-popular-numb {
    font-size: 36px;
    color: #673ab7;
}
h2.more-popular-title {
    font-size: 22px;
}


/*top 10 tags*/
.mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
    margin: 8px;
}

/*quiz*/
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

/*social*/
.mat-mini-fab .mat-button-wrapper {
    padding: 0;
}
.mat-mini-fab .mat-button-wrapper i.fa {
    font-size: 14px;
}
