<div class="header-title header-title-interfaces">
    <h2 class="title title-interfaces">Interfaces</h2>
</div>

<div class="row interfaces-posts">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btm-offset-one">
        <div class="row">
            <app-post-left-img-text></app-post-left-img-text>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btm-offset-two">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <app-post-img-text></app-post-img-text>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <app-post-img-text></app-post-img-text>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <app-post-img-text></app-post-img-text>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <app-post-img-text></app-post-img-text>
                    </div>
            </div>
    </div>
</div>