<div class="header-title header-title-career-it ">
    <h2 class="title title-career-it">Career in IT</h2>
</div>

<div class="row career-it-posts">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btm-offset-one">
        <app-post-img-block></app-post-img-block>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 btm-offset-two">
        <app-post-img-block></app-post-img-block>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-post-img-block></app-post-img-block>
    </div>
</div>